<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/463df92cff.js" crossorigin="anonymous"></script>
    <title>BigTimeSound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="title" property="og:title" content="BigTimeSound" />
    <meta name="image" property="og:image" content="https://camo.githubusercontent.com/e38bd6aa3ff32784eb98ae7d3647e331ea75e4a1948ccc9d0bac3a170a3c1d56/68747470733a2f2f6163746976652d73746f726167652d6269672d74696d652d736f756e642d73656564732e73332e616d617a6f6e6177732e636f6d2f6269672d74696d652d736f756e642d7472616e73706172656e742d72656d6f766562672d707265766965772e706e67" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://big-time-sound.herokuapp.com/#/" />
 
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = [<%= current_user.id %>, {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>',
          'email': '<%= current_user.email %>'
        }]
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel='icon' href='https://user-images.githubusercontent.com/75961076/119849262-7b8e3f80-beda-11eb-9f78-f1b5312d08fd.png' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>

