<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/463df92cff.js" crossorigin="anonymous"></script>
    <title>BigTimeSound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="title" property="og:title" content="BigTimeSound" />
    <meta name="image" property="og:image" content="%PUBLIC_URL%/00.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://big-time-sound.herokuapp.com/#/" />
 
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = [<%= current_user.id %>, {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>',
          'email': '<%= current_user.email %>'
        }]
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel='icon' href='https://user-images.githubusercontent.com/75961076/119849262-7b8e3f80-beda-11eb-9f78-f1b5312d08fd.png' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>

